@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --color-primary: #4502C7;
}

* {
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F8F8F8;
}

a {
  text-decoration: none;
}

/* Container */
.container {
  width: 1184px;
  margin: 0 auto;
}

@media(max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media(max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media(max-width: 767.98px) {
  .container {
    width: 540px;
  }
}

@media(max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 16px;
  }
}

/* End Container */

.top-header {
  background-color: var(--color-primary);
  padding: 10px 0;
}

.top-header .inner-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 5px 40px;
}

.top-header .inner-wrap .inner-item {
  color: #FFFBEB;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.top-header .inner-item i {
  font-size: 20px;
}

@media (max-width: 767.98px) {
  .top-header {
    display: none;
  }
} 
/* End Container */

/* Header */

.header {
  background-color: #FFFFFF;
  padding: 12px 0; 
}

.header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner-wrap .img-logo {
  height: 50px;
  width: auto;
}

.header .inner-wrap .inner-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 5px 40px;
}

.header .inner-wrap .inner-menu ul li a {
  color: #25282B;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.header .inner-wrap .inner-menu ul li a.active,
.header .inner-wrap .inner-menu ul li a:hover {
  color: var(--color-primary);
}

.header .inner-cart a {
  display: inline-flex;
  align-items: center;
}

.header .inner-cart .img-cart {
  height: 26.3px;
  width: auto;
}

.header .inner-cart  span {
  background-color: #FF3904;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  display: inline-flex;
  padding: 1px 5px;
  position: relative;
  margin-left: 2px;
}

.header .inner-cart span::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 1.9px solid transparent;
  border-bottom: 1.9px solid transparent;
  border-right: 3.8px solid #FF3904;
  position: absolute;
  top: 6.2px;
  left: -3.4px;
}

/* End Header */

